.price {
    font-size: 12px;
}

.title {

}

.tag {
    font-size: 10px;
    color: #004906;
}

.author {
    font-size: 12px;
    padding-right: 100px;
}

.post {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ABABAB;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
}

.created {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 8px;
}

.link {
  font-size: 14px;
  text-decoration:none;
}

li {
    list-style-type: none;
}