{% extends "base.html" %}

{% block content %}
    {{ pagination.links }}

    {% for book in book_posts %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 post-wrapper">
                <div class="post-header">
                    <strong>Author:</strong>{{ book.author }}
                    <strong>Title:</strong>{{ book.title }}
                </div>
                <div class="post-content">
                    {{ book.content | join('\n') | safe}}

                    {% for image_url in book.images %}
                        <img class="responsive" src="{{ image_url }}" alt="">
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}